{% block clever_reach_landing %}
<div class="clever-reach-landing" xmlns="http://www.w3.org/1999/html">
    <div>
        <img :src="'/cleverreachshopware6/administration/img/clever_reach_logo.jpg' | asset" class="clever-reach-landing-img">
    </div>
    <div class="clever-reach-landing-child">
        <div>
            <img :src="'/cleverreachshopware6/administration/img/clever_reach_mail.svg' | asset" class="clever-reach-landing-img-mail">
        </div>
        <div class="clever-reach-landing-content">
            <h2>Welcome to CLeverReach</h2>
            <p>Connect, sync customer data and create</p>
            <p>appealing emails to showcase your</p>
            <p>products to your customers.</p>
        </div>
        <div class="clever-reach-landing-button-div">
            <button class="clever-reach-landing-button" id="connect-button">Connect</button>
        </div>
    </div>
</div>
{% endblock %}